
// Set Nav to position fixed bottom on small screens
#realNav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
// Use hidden nav to take up same space as the real nav
#hiddenNav {
  position: static;
  visibility: hidden;
}
@media only screen and (min-width: 640px) {
  // Fix nav to the top on larger screens
  #realNav {
    bottom: initial;
    top: 0;
  }
}