<div class="row">
  <div class="small-12 medium-6 columns">
    <div class="card">
      <div class="content">
        <h1>Arm the System</h1>
        <p>You can choose to arm or disarm using the first switch.  The second switch is to turn on motion detection.  Motion detection is usually only used when you aren't home.</p>
      </div>
      <div class="action">
        <div class="switch round large">
          <h3>Alarm System!</h3>
          <input ng-model="security.armed" ng-true-value="1" ng-false-value="0" id="on-off" type="checkbox">
            <label for="on-off">
              <span class="switch-on">ON</span>
              <span class="switch-off">OFF</span>
          </label>
        </div>
        <div class="switch round large">
          <h3>Detect Motion?</h3>
          <input ng-model="security.armedWithMotion" id="yes-no" type="checkbox">
          <label for="yes-no">
            <span class="switch-on">Yes</span>
            <span class="switch-off">No</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div id="sliders" class="small-12 medium-6 columns">
    <h3 class="text-center">Arm Delay</h3>
    <rzslider
     rz-slider-model="security.armDelay"
     rz-slider-floor="0"
     rz-slider-ceil="60"></rzslider>

    <hr />
    <h3 class="text-center">Enter Delay</h3>
    <rzslider
     rz-slider-model="security.enterDelay"
     rz-slider-floor="0"
     rz-slider-ceil="30"></rzslider>

  </div>
</div>
