<div class="row">
  <div class="small-12 medium-9 large-8 small-centered columns">

    <div id="home" class="header panel">
      <div class="sign">
        <h1><strong>Welcome Home</strong></h1>
      </div>
      <p><strong>This amazing app</strong> is the internet brain of the home.  Here you can track stats like the temperature and lights as well as make sure the home stays secure.  This system is running on a RaspberryPi A+ and RaspberryPi2 B. All data and events will update in realtime thanks to nodejs, angularjs, and firebase data binding.</p>
    </div>
  
  </div>
</div>