<div id="realNav" class="icon-bar five-up">
  <a ng-href="#/home" class="item">
    <i class="fa fa-home"></i>
    <label>{{ home }}</label>
  </a>
  <a ng-href="#/stats" class="item">
    <i class="fa fa-tachometer"></i>
    <label>Status</label>
  </a>
  <a ng-href="#/arm" class="item">
    <i class="fa fa-shield"></i>
    <label>Arm</label>
  </a>
  <a ng-href="#/video" class="item">
    <i class="fa fa-video-camera"></i>
    <label>Video</label>
  </a>
  <a class="item" ng-href="#/login">
    <i class="fa fa-bookmark"></i>
    <label>Login</label>
  </a>
</div>
<div id="hiddenNav" class="icon-bar five-up">
  <a ng-href="#/home" class="item">
    <i class="fa fa-home"></i>
    <label>{{ home }}</label>
  </a>
  <a ng-href="#/stats" class="item">
    <i class="fa fa-tachometer"></i>
    <label>Status</label>
  </a>
  <a ng-href="#/arm" class="item">
    <i class="fa fa-shield"></i>
    <label>Arm</label>
  </a>
  <a ng-href="#/video" class="item">
    <i class="fa fa-video-camera"></i>
    <label>Video</label>
  </a>
  <a class="item" ng-href="#/login">
    <i class="fa fa-bookmark"></i>
    <label>Login</label>
  </a>
</div>
